/* Сброс стиля для тега button */
button,
/* Сброс стиля для тега img */
img,
/* Сброс стиля для тега h1, h2, h3 */
h1, h2, h3,
/* Сброс стиля для тега a */
a,
/* Обнуление всех стилей для элементов li */
li,
/* Обнуление всех стилей для элементов ul */
ul,
/* Обнуление всех стилей для элементов select */
select,
/* Обнуление всех стилей для элементов div */
div,
/* Обнуление всех стилей для элемента header */
header,
/* Обнуление всех стилей для элемента body */
body,
/* Обнуление всех стилей для элемента p */
p,
/* Обнуление всех стилей для элемента nav */
nav,
/* Обнуление всех стилей для элемента section и footer */
section, footer {
    all: initial;
}
/* Сброс стилей для элемента input */
input {
    margin: 0;
    border: 0;
    padding: 0;
}

